Repository dnd-side-project/dnd-9th-2-ios, pull requests merged in 2023-07, with the labels that each got.

#2 Feature - 프로젝트 초기 설정
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/basic-template.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  promiseDemo/.swiftlint.auto.yml
  promiseDemo/.swiftlint.yml
  promiseDemo/PromiseDemo.xcodeproj/project.pbxproj
  promiseDemo/PromiseDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  promiseDemo/PromiseDemo.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  promiseDemo/PromiseDemo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  promiseDemo/PromiseDemo.xcodeproj/xcshareddata/xcschemes/PromiseDemo.xcscheme
  promiseDemo/PromiseDemo/Core/Common/Extensions+temp.swift
  promiseDemo/PromiseDemo/Core/Models/Model+temp.swift
  promiseDemo/PromiseDemo/Core/Services/Service+Temp.swift
  promiseDemo/PromiseDemo/DesignSystem/Extension/Color+Temp.swift
  promiseDemo/PromiseDemo/DesignSystem/View/View+Temp.swift
  promiseDemo/PromiseDemo/Features/Features+temp.swift
  promiseDemo/PromiseDemo/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  promiseDemo/PromiseDemo/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  promiseDemo/PromiseDemo/Resources/Assets.xcassets/Contents.json
  promiseDemo/PromiseDemo/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  promiseDemo/PromiseDemo/Sources/ContentView.swift
  promiseDemo/PromiseDemo/Sources/promiseDemoApp.swift
Labels: chore

#4 Feature - github action build 세팅
  .github/workflows/build.yml
Labels: chore

#6 doc : readme에 wiki 링크 연결
  README.md
Labels: documentation

#8 Feature - 로그인 -> 탭 바 플로우
  promiseDemo/.swiftlint.yml
  promiseDemo/PromiseDemo.xcodeproj/project.pbxproj
  promiseDemo/PromiseDemo/Features/App/AppFeature.swift
  promiseDemo/PromiseDemo/Features/App/AppView.swift
  promiseDemo/PromiseDemo/Features/Features+temp.swift
  promiseDemo/PromiseDemo/Features/Login/LoginFeature.swift
  promiseDemo/PromiseDemo/Features/Login/LoginView.swift
  promiseDemo/PromiseDemo/Features/Tab/Common/TabType.swift
  promiseDemo/PromiseDemo/Features/Tab/Home/HomeView.swift
  promiseDemo/PromiseDemo/Features/Tab/MainTab/MainTabFeature.swift
  promiseDemo/PromiseDemo/Features/Tab/MainTab/MainTabView.swift
  promiseDemo/PromiseDemo/Features/Tab/MyPage/MyPageView.swift
  promiseDemo/PromiseDemo/Sources/ContentView.swift
  promiseDemo/PromiseDemo/Sources/promiseDemoApp.swift
Labels: feat

#11 네비게이션 플로우 - 로그인, 회원가입, 로그아웃
  promiseDemo/PromiseDemo.xcodeproj/project.pbxproj
  promiseDemo/PromiseDemo/Features/App/AppFeature.swift
  promiseDemo/PromiseDemo/Features/App/AppView.swift
  promiseDemo/PromiseDemo/Features/Login/LoginFeature.swift
  promiseDemo/PromiseDemo/Features/Login/LoginView.swift
  promiseDemo/PromiseDemo/Features/Login/SignUp/Nickname/SignUpNicknameView.swift
  promiseDemo/PromiseDemo/Features/Login/SignUp/Nickname/SignUpNicknameViewFeature.swift
  promiseDemo/PromiseDemo/Features/Login/SignUp/ProfileImage/SignUpProfileImageFeature.swift
  promiseDemo/PromiseDemo/Features/Login/SignUp/ProfileImage/SignUpProfileImageView.swift
  promiseDemo/PromiseDemo/Features/Tab/MainTab/MainTabFeature.swift
  promiseDemo/PromiseDemo/Features/Tab/MainTab/MainTabView.swift
  promiseDemo/PromiseDemo/Features/Tab/MyPage/MyPageFeature.swift
  promiseDemo/PromiseDemo/Features/Tab/MyPage/MyPageView.swift
  promiseDemo/PromiseDemo/Sources/promiseDemoApp.swift
Labels: feat

#17 [🚨 긴급 🚨] 앱 이름 변경 & 프로비저닝 파일 등록
  .github/workflows/build.yml
  Baggle/.swiftlint.auto.yml
  Baggle/.swiftlint.yml
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle.xcodeproj/xcshareddata/xcschemes/Baggle.xcscheme
  Baggle/Baggle/Core/Common/Extensions+temp.swift
  Baggle/Baggle/Core/Models/Model+temp.swift
  Baggle/Baggle/Core/Services/Service+Temp.swift
  Baggle/Baggle/DesignSystem/Extension/Color+Temp.swift
  Baggle/Baggle/DesignSystem/View/View+Temp.swift
  Baggle/Baggle/Features/App/AppFeature.swift
  Baggle/Baggle/Features/App/AppView.swift
  Baggle/Baggle/Features/Login/LoginFeature.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/Login/SignUp/Nickname/SignUpNicknameView.swift
  Baggle/Baggle/Features/Login/SignUp/Nickname/SignUpNicknameViewFeature.swift
  Baggle/Baggle/Features/Login/SignUp/ProfileImage/SignUpProfileImageFeature.swift
  Baggle/Baggle/Features/Login/SignUp/ProfileImage/SignUpProfileImageView.swift
  Baggle/Baggle/Features/Tab/Common/TabType.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabFeature.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageView.swift
  Baggle/Baggle/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Contents.json
  Baggle/Baggle/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Baggle/Baggle/Sources/promiseDemoApp.swift
Labels: chore

#13 컴포넌트 구현 - button, textfield, alert
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/Extension/drawUnderline.swift
  Baggle/Baggle/DesignSystem/View/Alert/BaggleAlert.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButton.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonStyle.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonType.swift
  Baggle/Baggle/DesignSystem/View/Common/ShadeView.swift
  Baggle/Baggle/DesignSystem/View/Common/UnderlineView.swift
  Baggle/Baggle/DesignSystem/View/TextField/BaggleTextField.swift
  Baggle/Baggle/DesignSystem/View/TextField/BaggleTextFieldType.swift
  Baggle/Baggle/DesignSystem/View/View+Temp.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/Login/SignUp/ProfileImage/SignUpProfileImageFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageView.swift
Labels: feat

#19 Feature - 컴포넌트 추가 구현 및 메서드 추가
  .gitignore
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/UserDefaultKeyList.swift
  Baggle/Baggle/Core/Common/UserDefaultWrapper.swift
  Baggle/Baggle/DesignSystem/Extension/attributedString.swift
  Baggle/Baggle/DesignSystem/View/Tag/BaggleColor.swift
  Baggle/Baggle/DesignSystem/View/Tag/BaggleTag.swift
  Baggle/Baggle/DesignSystem/View/TextField/BaggleTextField.swift
  Baggle/Baggle/DesignSystem/View/TextField/BaggleTextFieldType.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/CreateMeetingFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
Labels: feat

#22 Feature - 소셜 로그인, 카카오톡 공유하기 구현
  .github/workflows/build.yml
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Baggle.entitlements
  Baggle/Baggle/Core/Common/SendInvitation.swift
  Baggle/Baggle/Features/App/AppView.swift
  Baggle/Baggle/Features/Login/LoginFeature.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
  Baggle/Baggle/Info.plist
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat

#27 버튼 컴포넌트 수정
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/View/Button/BaggleButton.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonStyle.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonType.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/Login/SignUp/Nickname/SignUpNicknameView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageView.swift
Labels: fix

#25 회원가입 - 이미지 설정
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions+temp.swift
  Baggle/Baggle/Core/Common/Extensions/Extension+PhotosPickerItem.swift
  Baggle/Baggle/Core/Models/ProfileImageModel.swift
  Baggle/Baggle/Features/Login/LoginFeature.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/Components/ProfileImageView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpView.swift
  Baggle/Baggle/Features/Login/SignUp/Nickname/SignUpNicknameView.swift
  Baggle/Baggle/Features/Login/SignUp/Success/SignUpSuccessFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Success/SignUpSuccessView.swift
  Baggle/Baggle/Resources/Preview Content/Preview Assets.xcassets/sampleImage.imageset/Contents.json
  Baggle/Baggle/Resources/Preview Content/Preview Assets.xcassets/sampleImage.imageset/sampleImage.jpg
Labels: feat

#32 회원가입 닉네임 입력 & 로직 처리
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/PhotosPickerItem+loadTransferable.swift
  Baggle/Baggle/Core/Common/Extensions/String+Regex.swift
  Baggle/Baggle/Core/Services/Error/NetworkError.swift
  Baggle/Baggle/Core/Services/Nickname/NicknameValidator.swift
  Baggle/Baggle/Core/Services/SendInvitation.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/DesignSystem/Extension/View+.swift
  Baggle/Baggle/DesignSystem/View/TextField/BaggleTextField.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpView.swift
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat

#35 Feature - apns, firebase 세팅
  .github/workflows/build.yml
  .gitignore
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Baggle.entitlements
  Baggle/Baggle/Core/Common/Const/NotiList.swift
  Baggle/Baggle/Core/Common/Const/UserDefaultKeyList.swift
  Baggle/Baggle/Core/Common/Const/UserDefaultWrapper.swift
  Baggle/Baggle/Core/Common/Extensions/postObserverAction.swift
  Baggle/Baggle/Core/Services/SendInvitation.swift
  Baggle/Baggle/DesignSystem/View/TextField/BaggleTextFieldFeature.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Info.plist
  Baggle/Baggle/Sources/AppDelegate.swift
  Baggle/Baggle/Sources/BaggleApp.swift
  Baggle/Baggle/Sources/SceneDelegate.swift
Labels: feat

#37 Chore - Configuration 파일 연결
  Baggle/Baggle.xcodeproj/project.pbxproj
Labels: chore

#39 모임 생성 네비게이션 플로우
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Core/Common/Extensions/PhotosPickerItem+loadTransferable.swift
  Baggle/Baggle/Core/Services/SendInvitation.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/CreateMeetingFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/CreateMeetingView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateMeetingFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabFeature.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
Labels: feat

#41 Pacakge.resolved 에러 해결
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: bug
