Repository dnd-side-project/dnd-9th-2-ios, pull requests merged in 2023-08, with the labels that each got.

#44 모임 생성 - 제목 & 장소
  Baggle/Baggle/DesignSystem/View/TextField/BaggleTextField.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
Labels: feat

#47 모임 메모를 위한 Baggle Text Editor 생성
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/DesignSystem/View/Text/BaggleTextFeature.swift
  Baggle/Baggle/DesignSystem/View/Text/BaggleTextFieldType.swift
  Baggle/Baggle/DesignSystem/View/Text/TextEditor/BaggleTextEditor.swift
  Baggle/Baggle/DesignSystem/View/Text/TextField/BaggleTextField.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleFeature.swift
Labels: feat

#52 Feature - 모임 참여 플로우
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Core/Common/Extensions/postObserverAction.swift
  Baggle/Baggle/Core/Services/SendInvitation.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingFeature.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabFeature.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
  Baggle/Baggle/Sources/AppDelegate.swift
  Baggle/Baggle/Sources/BaggleApp.swift
  Baggle/Baggle/Sources/SceneDelegate.swift
Labels: feat

#53 모임 생성 - 날짜 선택
  Baggle/.swiftlint.yml
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/xcshareddata/xcschemes/Baggle.xcscheme
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/DesignSystem/View/Date/Picker/BaggleDatePickerFeature.swift
  Baggle/Baggle/DesignSystem/View/Date/Picker/BaggleDatePickerView.swift
  Baggle/Baggle/DesignSystem/View/Date/Picker/BaggleTimePickerView.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectDateFeature.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectDateView.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectTimeFeature.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectTimeView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateMeetingFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleFeature.swift
  Baggle/BaggleTests/BaggleDateTests.swift
Labels: feat

#54 모임 생성 - 날짜 선택 기능 구현
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/DesignSystem/View/Date/Picker/BaggleDatePickerFeature.swift
  Baggle/Baggle/DesignSystem/View/Date/Picker/BaggleDatePickerView.swift
  Baggle/Baggle/DesignSystem/View/Date/Picker/BaggleTimePickerView.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectDateFeature.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectDateView.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectTimeFeature.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectTimeView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/DateInputStatus.swift
  Baggle/BaggleTests/BaggleDateTests.swift
Labels: feat, test

#55 소소한 리팩토링 - 파일 이름 수정, 카카오 로그인 분리 등
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Core/Common/Extensions/PostObserverAction.swift
  Baggle/Baggle/Core/Common/Foundation/Notification+Name.swift
  Baggle/Baggle/Core/Common/Foundation/UserDefaultKeyList.swift
  Baggle/Baggle/Core/Common/Foundation/UserDefaultWrapper.swift
  Baggle/Baggle/Core/Models/Model+temp.swift
  Baggle/Baggle/Core/Services/Login/KakaoLoginService.swift
  Baggle/Baggle/Core/Services/SendInvitation.swift
  Baggle/Baggle/Core/Services/Service+Temp.swift
  Baggle/Baggle/DesignSystem/Extension/Color+Temp.swift
  Baggle/Baggle/DesignSystem/Extension/View+.swift
  Baggle/Baggle/DesignSystem/Extension/View+Modifier.swift
  Baggle/Baggle/DesignSystem/Extension/attributedString.swift
  Baggle/Baggle/DesignSystem/Extension/drawUnderline.swift
  Baggle/Baggle/DesignSystem/View/Tag/BaggleTag.swift
  Baggle/Baggle/DesignSystem/View/Text/TextField/BaggleTextField.swift
  Baggle/Baggle/Features/Login/LoginFeature.swift
  Baggle/Baggle/Features/Login/LoginView.swift
Labels: fix

#56 Feature - 모임 상세 > 삭제 구현
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Core/Models/MeetingDetail.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/DesignSystem/View/Alert/BaggleAlert.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectDateFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDeleteType.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/MemberInfoView.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/SelectOwnerFeature.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/SelectOwnerView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabFeature.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
Labels: feat

#59 모임 생성 View 완성 (이였던것)
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Common/Extensions/String+.swift
  Baggle/Baggle/DesignSystem/View/Text/BaggleTextFeature.swift
  Baggle/Baggle/DesignSystem/View/Text/TextEditor/BaggleTextEditor.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Common/CreateDescription.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleView.swift
  Baggle/BaggleTests/BaggleDateTests.swift
Labels: feat, test

#67 말풍성(bubble view) 생성
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/View/Bubble/BubbleType.swift
  Baggle/Baggle/DesignSystem/View/Bubble/BubbleView.swift
  Baggle/Baggle/DesignSystem/View/Bubble/RoundedTriangle.swift
Labels: feat

#68 Fix - MainTabView NavigationStack 수정
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
Labels: fix

#70 Feature - BaggleAlert 타입, BaggleSecondaryStyle 추가
  Baggle/Baggle/DesignSystem/View/Alert/BaggleAlert.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonStyle.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonType.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
Labels: feat

#71 Feature - SegmentedPickerView구현
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/Extension/View+Modifier.swift
  Baggle/Baggle/Features/Tab/Home/Common/SegmentedPickerView.swift
  Baggle/Baggle/Features/Tab/Home/Common/SegmentedTagView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
Labels: feat

#75 타이머 View & Reducer
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Common/Extensions/Int+.swift
  Baggle/Baggle/Features/Common/Timer/LargeTimerView.swift
  Baggle/Baggle/Features/Common/Timer/SmallTimerView.swift
  Baggle/Baggle/Features/Common/Timer/TimerFeature.swift
Labels: feat

#77 회원 가입 화면 디자인 수정 & 키보드 올라올 때 View 이동
  Baggle/Baggle/Features/Login/SignUp/Main/Components/ProfileImageView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpView.swift
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat, fix

#78 AVCaptureSession을 사용한 카메라 기능 구현
  Baggle/.swiftlint.yml
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/CIImage+.swift
  Baggle/Baggle/Core/Common/Extensions/UIImage+.swift
  Baggle/Baggle/Core/Services/Camera/Camera.swift
  Baggle/Baggle/Core/Services/Camera/CameraService.swift
  Baggle/Baggle/Core/Services/Camera/CameraSetting.swift
  Baggle/Baggle/Features/Camera/CameraFeature.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
Labels: feat

#83 긴급 버튼 화면
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/View/Bubble/BubbleType.swift
  Baggle/Baggle/DesignSystem/View/Bubble/BubbleView.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyFeature.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat

#84 Feat #82 - Font+ 추가, setBaggleTypo 구현
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/Extension/Font+.swift
  Baggle/Baggle/DesignSystem/Extension/View+Modifier.swift
Labels: feat

#85 Feature - 모임 상세 UI
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Models/MeetingDetail.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/DesignSystem/Extension/View+Modifier.swift
  Baggle/Baggle/DesignSystem/View/Common/NavigationBar.swift
  Baggle/Baggle/Features/MeetingDetail/FeedListCell.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Resources/Assets.xcassets/Images/Background/Background_home_short.imageset/Background_home_short.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Background/Background_home_short.imageset/Background_home_short@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Background/Background_home_short.imageset/Background_home_short@3x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Background/Background_home_short.imageset/Contents.json
Labels: feat

#90 Image와 Color Asset에 있는 걸로 수정
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/DesignSystem/View/Alert/BaggleAlert.swift
  Baggle/Baggle/DesignSystem/View/Bubble/BubbleType.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonStyle.swift
  Baggle/Baggle/DesignSystem/View/Common/NavigationBar.swift
  Baggle/Baggle/DesignSystem/View/Common/ShadeView.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectDateView.swift
  Baggle/Baggle/DesignSystem/View/Date/SelectView/SelectTimeView.swift
  Baggle/Baggle/DesignSystem/View/Tag/BaggleColor.swift
  Baggle/Baggle/DesignSystem/View/Tag/BaggleTag.swift
  Baggle/Baggle/DesignSystem/View/Tag/BaggleTagColor.swift
  Baggle/Baggle/DesignSystem/View/Text/BaggleTextFieldType.swift
  Baggle/Baggle/DesignSystem/View/Text/TextEditor/BaggleTextEditor.swift
  Baggle/Baggle/DesignSystem/View/Text/TextField/BaggleTextField.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
  Baggle/Baggle/Features/Common/Timer/SmallTimerView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/Components/ProfileImageView.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyView.swift
  Baggle/Baggle/Features/MeetingDetail/FeedListCell.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/MemberInfoView.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/SelectOwnerView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Common/CircleNumberView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/DateInputStatus.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessView.swift
  Baggle/Baggle/Features/Tab/Home/Common/CircleProfileView.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
Labels: asset

#99 카카오 토큰 에러 해결
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: bug, fix

#91 Feature - 모임 상세 뷰 분기처리(모임 정보, 멤버 리스트)
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Enum/MeetingStatus.swift
  Baggle/Baggle/Core/Common/Extensions/String+.swift
  Baggle/Baggle/Core/Models/MeetingDetail.swift
  Baggle/Baggle/Core/Services/Home/HomeService.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/Features/MeetingDetail/Cell/FeedListCell.swift
  Baggle/Baggle/Features/MeetingDetail/Cell/ProfileBadgeView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/MemberInfoView.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/SelectOwnerView.swift
  Baggle/Baggle/Features/Tab/Home/Common/CircleProfileView.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
  Baggle/Baggle/Features/Tab/Home/Common/SegmentedPickerView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Resources/Assets.xcassets/Images/Profile/Profile_default.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/Profile/Profile_default.imageset/Profile_default.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Profile/Profile_default.imageset/Profile_default@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Profile/Profile_default.imageset/Profile_default@3x.png
Labels: feat

#100 Baggle Stamp 생성
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/View/Stamp/BaggleStamp.swift
  Baggle/Baggle/DesignSystem/View/Stamp/BaggleStampStatus.swift
  Baggle/Baggle/Features/Tab/Home/Common/CircleProfileView.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
Labels: feat

#101 타이머 데드라인에 따른 분기 처리
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Features/Camera/CameraFeature.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
  Baggle/Baggle/Features/Common/Timer/LargeTimerView.swift
  Baggle/Baggle/Features/Common/Timer/TimerColor.swift
  Baggle/Baggle/Features/Common/Timer/TimerFeature.swift
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat

#103 Feature - 모임 상세 뷰 분기처리 (버튼, 리프레시), 스와이프 제스처, KingFisher 추가
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Core/Common/Extensions/UINavigationController+.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonStyle.swift
  Baggle/Baggle/Features/MeetingDetail/Common/FeedListCell.swift
  Baggle/Baggle/Features/MeetingDetail/Common/MeetingDetailButtonType.swift
  Baggle/Baggle/Features/MeetingDetail/Common/ProfileBadgeView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/Home/Common/CircleProfileView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
Labels: feat

#107 Spacer Touch를 위한 Modifier 추가
  Baggle/Baggle/DesignSystem/Extension/View+Modifier.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleView.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
Labels: feat

#104 Feature - HomeStatus(정상/엠티/로딩/에러)에 따라 홈 뷰 분기처리
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/DesignSystem/Extension/View+.swift
  Baggle/Baggle/Features/Tab/Home/Common/HomeStatus.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Resources/Assets.xcassets/Images/Background/no_baggle.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/Background/no_baggle.imageset/no_baggle.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Background/no_baggle.imageset/no_baggle@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Background/no_baggle.imageset/no_baggle@3x.png
Labels: feat

#110 Feature - 스플래시 애니메이션, 로그인뷰 디자인 수정
  Baggle/.swiftlint.yml
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/DesignSystem/Extension/Color+.swift
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonStyle.swift
  Baggle/Baggle/Features/App/AppView.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Resources/Assets.xcassets/Color/KakaoBrown.colorset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Color/KakaoYellow.colorset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Icons/Function/kakaotalk.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Icons/Function/kakaotalk.imageset/kakaotalk.png
  Baggle/Baggle/Resources/Assets.xcassets/Icons/Function/kakaotalk.imageset/kakaotalk@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Icons/Function/kakaotalk.imageset/kakaotalk@3x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/logo_large.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/logo_large.imageset/logo_large.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/logo_large.imageset/logo_large@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/logo_large.imageset/logo_large@3x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/logo_medium.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/logo_medium.imageset/logo_medium.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/logo_medium.imageset/logo_medium@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Logo/logo_medium.imageset/logo_medium@3x.png
Labels: feat

#115 모임 상세 테스트 케이스 추가
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailEntity.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/BaggleTests/BaggleDateTests.swift
  Baggle/BaggleTests/BaggleMeetingStatusTests.swift
  Baggle/BaggleTests/TestDateService.swift
Labels: test

#123 Github Action 테스트, 캐싱 추가
  .github/workflows/build.yml
  Baggle/Baggle.xcodeproj/project.pbxproj
Labels: chore

#125 모임 상세 화면 - 버튼 로직 확인
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/Feed.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/MeetingDetail.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/Memeber.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailEntity.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/BaggleTests/TestDateService.swift
Labels: feat

#126 Feature - 네트워크 세팅
  .github/workflows/build.yml
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/BaseAPI.swift
  Baggle/Baggle/Core/API/FeedAPI.swift
  Baggle/Baggle/Core/API/MeetingAPI.swift
  Baggle/Baggle/Core/API/MemberAPI.swift
  Baggle/Baggle/Core/API/UserAPI.swift
  Baggle/Baggle/Core/Common/Network/DefaultAlamofireManager.swift
  Baggle/Baggle/Core/Models/Network/EntityContainer.swift
  Baggle/Baggle/Core/Models/Network/SignUp/SignUpEntity.swift
  Baggle/Baggle/Core/Models/SignUp/ProfileImageModel.swift
  Baggle/Baggle/Core/Models/SignUp/SignUpRequestModel.swift
  Baggle/Baggle/Core/Services/Common/BaseService.swift
  Baggle/Baggle/Core/Services/Error/NetworkError.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Info.plist
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat

#128 모임상세 타이머 버튼 & 카메라 타이머 연동
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/Features/Camera/CameraFeature.swift
  Baggle/Baggle/Features/Common/Timer/LargeTimerView.swift
  Baggle/Baggle/Features/Common/Timer/SmallTimerView.swift
  Baggle/Baggle/Features/Common/Timer/TimerFeature.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat

#130 Feature - 회원가입 api 연결
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/UserAPI.swift
  Baggle/Baggle/Core/Common/Foundation/KeychainManager.swift
  Baggle/Baggle/Core/Models/Network/EntityContainer.swift
  Baggle/Baggle/Core/Models/User/LoginPlatform.swift
  Baggle/Baggle/Core/Models/User/User.swift
  Baggle/Baggle/Core/Services/Common/BaseService.swift
  Baggle/Baggle/Core/Services/Error/APIError.swift
  Baggle/Baggle/Core/Services/Error/NetworkError.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/Features/Login/LoginFeature.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpView.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat

#131 폰트 디자인 시스템 적용
  Baggle/Baggle/Core/Models/Meeting/MeetingStatus.swift
  Baggle/Baggle/DesignSystem/Extension/Color+.swift
  Baggle/Baggle/DesignSystem/Extension/Font+.swift
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/DesignSystem/Extension/View+Modifier.swift
  Baggle/Baggle/DesignSystem/View/Alert/BaggleAlert.swift
  Baggle/Baggle/DesignSystem/View/Badge/BadgeView.swift
  Baggle/Baggle/DesignSystem/View/Bubble/BubbleType.swift
  Baggle/Baggle/DesignSystem/View/Bubble/BubbleView.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonStyle.swift
  Baggle/Baggle/DesignSystem/View/Common/ShadeView.swift
  Baggle/Baggle/DesignSystem/View/Tag/BaggleTag.swift
  Baggle/Baggle/DesignSystem/View/Text/BaggleTextFieldType.swift
  Baggle/Baggle/DesignSystem/View/Text/TextEditor/BaggleTextEditor.swift
  Baggle/Baggle/DesignSystem/View/Text/TextField/BaggleTextField.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/Components/ProfileImageView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpView.swift
  Baggle/Baggle/Features/Login/SignUp/Success/SignUpSuccessView.swift
  Baggle/Baggle/Features/MeetingDetail/Common/FeedListCell.swift
  Baggle/Baggle/Features/MeetingDetail/Common/ProfileBadgeView.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyView.swift
  Baggle/Baggle/Features/MeetingDetail/ImageDetail/ImageDetailView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/MemberInfoView.swift
  Baggle/Baggle/Features/MeetingDetail/SelectHost/SelectOwnerView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Common/CircleNumberView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Common/CreateDescription.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/DateInputStatus.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessView.swift
  Baggle/Baggle/Features/Tab/Home/Common/CircleProfileView.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
  Baggle/Baggle/Features/Tab/Home/Common/SegmentedTagView.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/MainHome.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/MainHome.imageset/MainHome.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/MainHome.imageset/MainHome@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/MainHome.imageset/MainHome@3x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/Profile.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/Profile.imageset/Profile.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/Profile.imageset/Profile@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/Profile.imageset/Profile@3x.png
Labels: feat

#132 Textfield 수정 - 모임 생성 maxCount, 회원가입 사진 선택시
  Baggle/Baggle/Core/Services/Home/HomeService.swift
  Baggle/Baggle/Features/App/AppView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleFeature.swift
Labels: fix

#142 Feature - 모임 참여 뷰 ui 적용, 분기처리
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Models/JoinMeeting/JoinMeeting.swift
  Baggle/Baggle/Core/Services/JoinMeeting/JoinMeetingService.swift
  Baggle/Baggle/Core/Services/SendInvitation.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingFeature.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabFeature.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
Labels: feat

#145 Feature - 모임 상세 엠티뷰 ui 적용
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
Labels: feat

#150 마이페이지 View 초기 구성
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Foundation/SafariWebView.swift
  Baggle/Baggle/Core/Models/User/User.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageView.swift
  Baggle/Baggle/Features/Tab/MyPage/Profile/PlatformLogoView.swift
  Baggle/Baggle/Features/Tab/MyPage/Setting/SettingListHeader.swift
  Baggle/Baggle/Features/Tab/MyPage/Setting/SettingListRow.swift
Labels: feat

#147 회원 탈퇴 API 연결
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/BaseAPI.swift
  Baggle/Baggle/Core/API/UserAPI.swift
  Baggle/Baggle/Core/Common/Foundation/KeychainManager.swift
  Baggle/Baggle/Core/Models/Network/EntityContainer.swift
  Baggle/Baggle/Core/Services/Common/BaseService.swift
  Baggle/Baggle/Core/Services/Error/KeyChainError.swift
  Baggle/Baggle/Core/Services/Home/MyPage/WithdrawService.swift
  Baggle/Baggle/Core/Services/Home/MyPage/WithdrawStatus.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/DesignSystem/View/Common/LoadingView.swift
  Baggle/Baggle/Features/App/AppFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageView.swift
Labels: feat

#148 Feature - 로그인 API 연결
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/UserAPI.swift
  Baggle/Baggle/Core/Models/Network/Login/LoginRequestModel.swift
  Baggle/Baggle/Core/Models/Network/SignUp/SignEntity.swift
  Baggle/Baggle/Core/Services/Common/BaseService.swift
  Baggle/Baggle/Core/Services/Error/APIError.swift
  Baggle/Baggle/Core/Services/Login/KakaoLoginService.swift
  Baggle/Baggle/Core/Services/Login/LoginService.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/Features/Login/LoginFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
Labels: feat

#153 App Store 설정
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/xcshareddata/xcschemes/Baggle.xcscheme
  Baggle/Baggle/Resources/Assets.xcassets/AppIcon.appiconset/AppIcon.png
  Baggle/Baggle/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: feat

#154 Setting - Light mode 고정
  Baggle/Baggle/Info.plist
Labels: chore

#158 Feat #157 - Const, URL 파일 추가, 기존 url 수정
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Const/Const.swift
  Baggle/Baggle/Core/Common/Const/URL.swift
  Baggle/Baggle/Core/Services/SendInvitation.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
Labels: feat

#156 Feature - 링크 모임 참여 정보 확인 API 연결
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/MemberAPI.swift
  Baggle/Baggle/Core/Common/Network/ParameterEncodingWithNoSlash.swift
  Baggle/Baggle/Core/Models/JoinMeeting/JoinMeeting.swift
  Baggle/Baggle/Core/Models/Network/EntityContainer.swift
  Baggle/Baggle/Core/Models/Network/JoinMeeting/JoinMeetingInfoEntity.swift
  Baggle/Baggle/Core/Services/Common/BaseService.swift
  Baggle/Baggle/Core/Services/Error/APIError.swift
  Baggle/Baggle/Core/Services/JoinMeeting/JoinMeetingService.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
Labels: feat

#159 카메라 권한 설정 Alert
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Models/Network/SignUp/SignEntity.swift
  Baggle/Baggle/Core/Services/Camera/Camera.swift
  Baggle/Baggle/Core/Services/Camera/CameraError.swift
  Baggle/Baggle/Core/Services/Camera/CameraService.swift
  Baggle/Baggle/Core/Services/Camera/CameraStatus.swift
  Baggle/Baggle/Features/Camera/CameraFeature.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
Labels: feat

#161 Feature - 모임 참여 API
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/MemberAPI.swift
  Baggle/Baggle/Core/Common/Const/URL.swift
  Baggle/Baggle/Core/Common/Network/ParameterEncodingWithNoSlash.swift
  Baggle/Baggle/Core/Models/JoinMeeting/JoinMeeting.swift
  Baggle/Baggle/Core/Models/JoinMeeting/JoinMeetingStatus.swift
  Baggle/Baggle/Core/Models/Network/JoinMeeting/JoinMeetingEntity.swift
  Baggle/Baggle/Core/Services/Common/BaseService.swift
  Baggle/Baggle/Core/Services/Error/APIError.swift
  Baggle/Baggle/Core/Services/JoinMeeting/JoinMeetingService.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
Labels: feat

#162 [서버 API] 모임 상세
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/MeetingAPI.swift
  Baggle/Baggle/Core/Common/Const/ErrorID.swift
  Baggle/Baggle/Core/Common/Extensions/Date/DateFormatter+.swift
  Baggle/Baggle/Core/Common/Extensions/Print+.swift
  Baggle/Baggle/Core/Common/Network/ParameterEncodingWithNoSlash.swift
  Baggle/Baggle/Core/Services/Common/NetworkService.swift
  Baggle/Baggle/Core/Services/Error/APIError.swift
  Baggle/Baggle/Core/Services/Home/HomeService.swift
  Baggle/Baggle/Core/Services/Home/MyPage/WithdrawService.swift
  Baggle/Baggle/Core/Services/JoinMeeting/JoinMeetingService.swift
  Baggle/Baggle/Core/Services/Login/LoginService.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailStatus.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MockUp/MockUpMeetingDetailService.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/DesignSystem/Extension/View+.swift
  Baggle/Baggle/DesignSystem/View/Alert/BaggleAlert.swift
  Baggle/Baggle/DesignSystem/View/Common/LoadingView.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
Labels: feat

#164 모임 생성 날짜 자동 선택 & 날짜 로직 수정 & 메모 생성에서 날짜 한 번 더 확인
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Services/MeetingCreate/MeetingCreateModel.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Place/CreatePlaceFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Title/CreateTitleFeature.swift
  Baggle/BaggleTests/BaggleDateTests.swift
Labels: feat, fix

#166 Fix - 카카오 로그인 버튼 수정, Font+ 수정
  Baggle/Baggle/DesignSystem/Extension/Font+.swift
  Baggle/Baggle/DesignSystem/Extension/View+Modifier.swift
  Baggle/Baggle/DesignSystem/View/Bubble/BubbleView.swift
  Baggle/Baggle/DesignSystem/View/Button/BaggleButtonStyle.swift
  Baggle/Baggle/DesignSystem/View/Tag/BaggleTag.swift
  Baggle/Baggle/DesignSystem/View/Text/TextEditor/BaggleTextEditor.swift
  Baggle/Baggle/DesignSystem/View/Text/TextField/BaggleTextField.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingView.swift
  Baggle/Baggle/Features/Login/LoginFeature.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpView.swift
  Baggle/Baggle/Features/Login/SignUp/Success/SignUpSuccessView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Common/CircleNumberView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Common/CreateDescription.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateView.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessView.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageView.swift
  Baggle/Baggle/Features/Tab/MyPage/Setting/SettingListHeader.swift
  Baggle/Baggle/Features/Tab/MyPage/Setting/SettingListRow.swift
Labels: fix

#165 Feature - 긴급 버튼 API
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/FeedAPI.swift
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/Feed.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/MeetingDetail.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/Memeber.swift
  Baggle/Baggle/Core/Models/Network/Emergency/EmergencyEntity.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailEntity.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailMemberEntity.swift
  Baggle/Baggle/Core/Services/Common/NetworkService.swift
  Baggle/Baggle/Core/Services/Emergency/EmergencyService.swift
  Baggle/Baggle/Core/Services/Emergency/EmergencyServiceStatus.swift
  Baggle/Baggle/Core/Services/Login/LoginService.swift
  Baggle/Baggle/Core/Services/Login/LoginServiceStatus.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/Core/Services/MeetingDetail/MockUp/MockUpMeetingDetailService.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpServiceStatus.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyFeature.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/Tab/Home/Common/CircleProfileView.swift
  Baggle/BaggleTests/TestDateService.swift
Labels: feat

#175 API 수정에 따른 JSON NULL 추가
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Models/Network/Common/JSONNULL.swift
  Baggle/Baggle/Core/Services/Common/NetworkService.swift
  Baggle/Baggle/Core/Services/Home/MyPage/WithdrawService.swift
Labels: fix

#176 Fix - 마이페이지 유저 정보 onAppear 불러오도록 수정
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageView.swift
Labels: fix

#182 Deploy 0.1.0 - 2
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Models/User/User.swift
Labels: chore, fix

#180 Fix - 에셋, 폰트 수정, 모임 상세 background color 수정
  Baggle/Baggle/Core/Common/Extensions/String+.swift
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/DesignSystem/Extension/View+Modifier.swift
  Baggle/Baggle/Features/Common/Timer/LargeTimerView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/TIMEOUT.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/TIMEOUT.imageset/TIMEOUT.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/TIMEOUT.imageset/TIMEOUT@2x.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/BaggleText/TIMEOUT.imageset/TIMEOUT@3x.png
Labels: fix

#181 이미지 다운 스케일 & 압축
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Const/Image.swift
  Baggle/Baggle/Core/Common/Extensions/UIImage/ImageSizeType.swift
  Baggle/Baggle/Core/Common/Extensions/UIImage/UIImage+.swift
  Baggle/Baggle/Core/Models/Alert/Camera/AlertCameraType.swift
  Baggle/Baggle/Core/Models/Network/Feed/FeedPhotoRequestModel.swift
  Baggle/Baggle/Core/Models/SignUp/ProfileImageModel.swift
  Baggle/Baggle/Features/Camera/CameraFeature.swift
  Baggle/Baggle/Features/Login/SignUp/Main/SignUpFeature.swift
Labels: feat

#184 Fix - 푸시알림 userInfo에서 meetingId 분리, 화면 전환 연결
  Baggle/Baggle/Core/Common/Extensions/PostObserverAction.swift
  Baggle/Baggle/Core/Common/Foundation/Notification+Name.swift
  Baggle/Baggle/Features/App/AppView.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Sources/AppDelegate.swift
  Baggle/Baggle/Sources/SceneDelegate.swift
Labels: fix

#186 유저 매니저 생성 & Alert 백그라운드 터치 분기처리
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Foundation/KeychainManager.swift
  Baggle/Baggle/Core/Common/User/UserManager.swift
  Baggle/Baggle/Core/Models/User/UserToken.swift
  Baggle/Baggle/Core/Services/Emergency/EmergencyService.swift
  Baggle/Baggle/Core/Services/Feed/FeedPhotoService.swift
  Baggle/Baggle/Core/Services/Home/MyPage/WithdrawService.swift
  Baggle/Baggle/Core/Services/JoinMeeting/JoinMeetingService.swift
  Baggle/Baggle/Core/Services/Login/LoginService.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingCreate/MeetingCreateService.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/Core/Services/SendInvitation/SendInvitation.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/DesignSystem/View/Alert/BaggleAlert.swift
  Baggle/Baggle/DesignSystem/View/Common/ShadeView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
  Baggle/Baggle/Sources/BaggleApp.swift
Labels: feat

#189 긴급버튼 만료처리
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/MeetingDetail.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailEntity.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingDetail/MockUp/MockUpMeetingDetailService.swift
  Baggle/Baggle/DesignSystem/View/Description/DescriptionView.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyFeature.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
Labels: feat

#188 Fix - 초대장 공유하기 수정
  Baggle/Baggle/Core/Services/SendInvitation/SendInvitation.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Success/CreateSuccessFeature.swift
Labels: fix

#190 Feature - 전체 모임 조회 API 연결
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/API/MeetingAPI.swift
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Models/Meeting/Home.swift
  Baggle/Baggle/Core/Models/Meeting/Meeting.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingStatus.swift
  Baggle/Baggle/Core/Models/Network/EntityContainer.swift
  Baggle/Baggle/Core/Models/Network/Home/HomeEntity.swift
  Baggle/Baggle/Core/Models/Network/Home/HomeMeetingEntity.swift
  Baggle/Baggle/Core/Models/Network/Home/HomeRequestModel.swift
  Baggle/Baggle/Core/Services/Common/NetworkService.swift
  Baggle/Baggle/Core/Services/Home/HomeService.swift
  Baggle/Baggle/Core/Services/Home/HomeServiceStatus.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
Labels: feat

#191 로띠 애니메이션 적용
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Baggle/Baggle/Core/Models/Alert/Emergency/AlertEmergencyType.swift
  Baggle/Baggle/Core/Models/Network/Emergency/EmergencyEntity.swift
  Baggle/Baggle/Core/Services/Emergency/EmergencyService.swift
  Baggle/Baggle/Core/Services/Emergency/EmergencyServiceStatus.swift
  Baggle/Baggle/DesignSystem/Extension/Image+.swift
  Baggle/Baggle/DesignSystem/View/Lottie/LottieType.swift
  Baggle/Baggle/DesignSystem/View/Lottie/LottieView.swift
  Baggle/Baggle/Features/Login/LoginFeature.swift
  Baggle/Baggle/Features/Login/LoginView.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyFeature.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Resources/Assets.xcassets/Images/Emergency/Button_Off.imageset/Button_Off.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Emergency/Button_Off.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/Emergency/Button_On.imageset/Button_On.png
  Baggle/Baggle/Resources/Assets.xcassets/Images/Emergency/Button_On.imageset/Contents.json
  Baggle/Baggle/Resources/Assets.xcassets/Images/Emergency/Contents.json
  Baggle/Baggle/Resources/LottieJSON/Button_animation.json
  Baggle/Baggle/Resources/LottieJSON/SplashScreen_animation.json
Labels: feat, chore

#192 Deploy 0.1.0 (3) 설정
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Info.plist
Labels: chore

#194 Fix/create date
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Common/Extensions/Task+.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/MeetingDetail.swift
  Baggle/Baggle/Core/Models/Network/EntityContainer.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailEntity.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailMemberEntity.swift
  Baggle/Baggle/Core/Services/Common/NetworkService.swift
  Baggle/Baggle/Features/App/AppFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Date/CreateDateFeature.swift
  Baggle/BaggleTests/TestDateService.swift
Labels: feat, fix

#195 Fix #168 - TimeZone KST로 변경
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Common/Extensions/Date/DateFormatter+.swift
  Baggle/Baggle/DesignSystem/View/Date/Picker/BaggleDatePickerView.swift
  Baggle/Baggle/DesignSystem/View/Date/Picker/BaggleTimePickerView.swift
Labels: fix

#201 Fix - 모임 참여 에러 분기처리, 참여 성공시 홈 업데이트
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/Date/Date+.swift
  Baggle/Baggle/Core/Common/Foundation/KeychainManager.swift
  Baggle/Baggle/Core/Common/Foundation/SafariWebView.swift
  Baggle/Baggle/Core/Models/Alert/Camera/AlertCameraType.swift
  Baggle/Baggle/Core/Models/Alert/Common/AlertType.swift
  Baggle/Baggle/Core/Models/Alert/CreateMeeting/AlertCreateMeetingType.swift
  Baggle/Baggle/Core/Models/Alert/Emergency/AlertEmergencyType.swift
  Baggle/Baggle/Core/Models/Alert/JoinMeeting/AlertJoinMeetingType.swift
  Baggle/Baggle/Core/Models/Alert/MeetingDetail/AlertMeetingDetailType.swift
  Baggle/Baggle/Core/Models/JoinMeeting/JoinMeetingStatus.swift
  Baggle/Baggle/Core/Models/Network/Common/JSONNULL.swift
  Baggle/Baggle/Core/Models/User/UserToken.swift
  Baggle/Baggle/Core/Services/Common/NetworkService.swift
  Baggle/Baggle/Core/Services/Error/APIError.swift
  Baggle/Baggle/Core/Services/Home/HomeService.swift
  Baggle/Baggle/Core/Services/JoinMeeting/JoinMeetingService.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingDetail/MockUp/MockUpMeetingDetailService.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingFeature.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingView.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
Labels: fix

#202 Fix - 프로필 찌그러지는 문제, 메모 기본 문구 안뜨는 문제 해결
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailEntity.swift
  Baggle/Baggle/Features/Tab/Home/Common/CircleProfileView.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageView.swift
Labels: fix

#204 Meeting Status 상세 분기 처리
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Models/Meeting/Meeting.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/MeetingDetail.swift
  Baggle/Baggle/Core/Models/Meeting/MeetingStatus.swift
  Baggle/Baggle/Core/Models/Meeting/Status/MeetingEmergencyStatus.swift
  Baggle/Baggle/Core/Models/Meeting/Status/MeetingHomeStatus.swift
  Baggle/Baggle/Core/Models/Meeting/Status/MeetingStampStatus.swift
  Baggle/Baggle/Core/Models/Network/Home/HomeMeetingEntity.swift
  Baggle/Baggle/Core/Models/Network/Home/HomeRequestModel.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailEntity.swift
  Baggle/Baggle/Core/Models/Network/MeetingStatus/MeetingStatusEntity.swift
  Baggle/Baggle/Core/Services/Home/HomeService.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingDetail/MockUp/MockUpMeetingDetailService.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
  Baggle/Baggle/Features/Tab/Home/Common/SegmentedPickerView.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
  Baggle/BaggleTests/BaggleMeetingStatusTests.swift
  Baggle/BaggleTests/TestDateService.swift
Labels: feat, fix

#205 긴급 버튼 로직 수정
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Models/Alert/MeetingDetail/AlertMeetingDetailType.swift
  Baggle/Baggle/Core/Services/Feed/FeedPhotoService.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/Features/Camera/CameraFeature.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
  Baggle/Baggle/Features/Camera/CameraViewStatus.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
Labels: fix

#206 Deploy 0.1.0 (4)
  Baggle/Baggle.xcodeproj/project.pbxproj
Labels: chore

#210 Fix - 긴급버튼 실행 후 바로 카메라 인증으로
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/MeetingDetail.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
Labels: fix

#212 소소한 디자인 수정
  Baggle/Baggle/Core/Models/Meeting/MeetingDetail/MeetingDetail.swift
  Baggle/Baggle/Features/Camera/CameraFeature.swift
  Baggle/Baggle/Features/Camera/CameraView.swift
  Baggle/Baggle/Features/Camera/CameraViewStatus.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/Home/Common/MeetingListCell.swift
  Baggle/Baggle/Features/Tab/Home/HomeView.swift
Labels: fix

#216 딥 링크 에러 수정
  Baggle/Baggle/Core/Common/Extensions/PostObserverAction.swift
  Baggle/Baggle/Core/Common/Foundation/Notification+Name.swift
  Baggle/Baggle/Features/App/AppView.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabView.swift
  Baggle/Baggle/Sources/BaggleApp.swift
  Baggle/Baggle/Sources/SceneDelegate.swift
  Baggle/BaggleTests/BaggleMeetingStatusTests.swift
  Baggle/BaggleTests/TestDateService.swift
Labels: fix

#218 Deploy 0.1.0 (5)
  Baggle/Baggle.xcodeproj/project.pbxproj
Labels: chore

#221 Fix - 모임 상세 뷰 타이틀 옆 스탬프 위치 수정
  Baggle/Baggle/Core/Common/Extensions/String+.swift
  Baggle/Baggle/Core/Models/Network/MeetingDetail/MeetingDetailEntity.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailView.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabFeature.swift
Labels: fix

#235 소소한 파일 이름 수정
  Baggle/Baggle.xcodeproj/project.pbxproj
  Baggle/Baggle/Core/Common/Extensions/Foundation/Int+.swift
  Baggle/Baggle/Core/Common/Extensions/Foundation/Print+.swift
  Baggle/Baggle/Core/Common/Extensions/Foundation/String+.swift
  Baggle/Baggle/Core/Common/Extensions/Foundation/Task+.swift
  Baggle/Baggle/Core/Common/Extensions/Moya/Moya+.swift
  Baggle/Baggle/Core/Common/Extensions/NotificationCenter/PostObserverAction.swift
  Baggle/Baggle/Core/Common/Extensions/PhotoPickers/PhotosPickerItem+loadTransferable.swift
  Baggle/Baggle/Core/Common/Extensions/SwiftUI/CIImage+.swift
  Baggle/Baggle/Core/Common/Extensions/SwiftUI/UINavigationController+.swift
  Baggle/Baggle/Core/Common/Foundation/KeyChain/KeychainManager.swift
  Baggle/Baggle/Core/Common/Foundation/NotificationCenter/Notification+Name.swift
  Baggle/Baggle/Core/Common/Foundation/Safari/SafariWebView.swift
  Baggle/Baggle/Core/Common/Foundation/UserDefault/UserDefaultKeyList.swift
  Baggle/Baggle/Core/Common/Foundation/UserDefault/UserDefaultWrapper.swift
  Baggle/Baggle/Core/Models/Meeting/HomeList/HomeMeetingList.swift
  Baggle/Baggle/Core/Models/Meeting/HomeList/Meeting.swift
  Baggle/Baggle/Core/Models/Network/Home/HomeEntity.swift
  Baggle/Baggle/Core/Services/Camera/CameraService.swift
  Baggle/Baggle/Core/Services/Camera/CameraServiceResult.swift
  Baggle/Baggle/Core/Services/Emergency/EmergencyService.swift
  Baggle/Baggle/Core/Services/Emergency/EmergencyServiceResult.swift
  Baggle/Baggle/Core/Services/Feed/FeedPhotoResult.swift
  Baggle/Baggle/Core/Services/Feed/FeedPhotoService.swift
  Baggle/Baggle/Core/Services/Home/HomeService.swift
  Baggle/Baggle/Core/Services/Home/HomeServiceResult.swift
  Baggle/Baggle/Core/Services/Home/MyPage/WithdrawService.swift
  Baggle/Baggle/Core/Services/Home/MyPage/WithdrawServiceResult.swift
  Baggle/Baggle/Core/Services/JoinMeeting/JoinMeetingResult.swift
  Baggle/Baggle/Core/Services/JoinMeeting/JoinMeetingService.swift
  Baggle/Baggle/Core/Services/Login/LoginService.swift
  Baggle/Baggle/Core/Services/Login/LoginServiceResult.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingCreate/MeetingCreateResult.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingCreate/MeetingCreateService.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingDetail/MeetingDetailResult.swift
  Baggle/Baggle/Core/Services/Meeting/MeetingDetail/MeetingDetailService.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpService.swift
  Baggle/Baggle/Core/Services/SignUp/SignUpServiceResult.swift
  Baggle/Baggle/Features/Camera/CameraFeature.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingFeature.swift
  Baggle/Baggle/Features/JoinMeeting/JoinMeetingView.swift
  Baggle/Baggle/Features/MeetingDetail/Emergency/EmergencyFeature.swift
  Baggle/Baggle/Features/MeetingDetail/MeetingDetailFeature.swift
  Baggle/Baggle/Features/Tab/CreateMeeting/Memo/CreateMemoFeature.swift
  Baggle/Baggle/Features/Tab/Home/HomeFeature.swift
  Baggle/Baggle/Features/Tab/MainTab/MainTabFeature.swift
  Baggle/Baggle/Features/Tab/MyPage/MyPageFeature.swift
Labels: fix
